-
    var fittingsList = [{title: "Фитинг прямой с наружной резьбой С1", price: "43грн", name:"fitting-c1"},
    {title:"Фитинг угловой с внутренней резьбой С5/F", price: "48грн", name:"fitting-c5f"},
    {title: "Фитинг соеденитель переход С4",price:"67грн",name:"fitting-c4"},
    {title: "Фитинг тройник С9",price:"72грн",name:"fitting-c9"},
    {title: "Фитинг соединитель переход С3",price:"45грн", name:"fitting-c3"},
    {title: "Фитинг тройник с наружной резьбой С7",price:"85грн",name:"fitting-c7"},
    {title: "Фитинг прямой с внутренней резьбой С2",price:"44грн", name:"fitting-c7"},
    {title: "Фитинг четверной С11",price:"95грн", name:"fitting-c11"}];

mixin fittings-card-table(fitting)
    div.card-group.col-12.mb-1.mb-sm-4.text-center
        div.card.fitting.col-5
            div.card-header
                span.card-title.fitting__title= fitting.title
            div.card-body
                img.card-img(src="/dist/img/fittings/" + fitting.name + ".jpg")
            div.card-footer
                p.card-text.draw-attention= fitting.price
        div.card.fitting.col-7
            p.card-text Фитинг данной серии предназначен для соединения трубок,таких как: нейлоновая, пластиковая, резиновая. Накидная гайка затягивается гаечным ключом. Специальная форма конуса обеспечивает качественное соединение трубки.
            div.card-body
                table.table.table-hover.table-sm
                    thead
                        tr
                            th Ref.
                            th &#8960
                            th Thread
                    tbody
                        for c in cList
                            +c-table(c)


-
    var cList = [{ref: "С1", diameter: "4/2", thread:"1/8"},
    {ref: "С1", diameter: "4/2", thread:"1/8"}];


mixin c-table(c)
    tr
        td= c.ref
        td= c.diameter
        td= c.thread

section.kit
    h2.kit__title.my-5.text-center Фитинги
    div.kit__gallery.d-flex.flex-wrap
        for fitting in fittingsList
            +fittings-card-table(fitting)

-
    var list = ["Uno", "Dos", "Tres",
    "Cuatro", "Cinco", "Seis"]
each item in list
    li= item
//table.table.table-hover
    tbody
        tr
            td.set__name Эконом
                span.icon_info(data-toggle="modal", data-target="#set_economical")
                //span.icon_info(data-toggle="tooltip", data-placement="right",title="состав комплекта")
            td.text-right 5500грн
        tr
            td.set__name Бюджет
                span.icon_info(data-toggle="modal", data-target="#set_budget")
            td.text-right 8000грн
        tr.draw-attention
            td.set__name Стандарт
                span.icon_info(data-toggle="modal", data-target="#set_standard")
                span.brand__hit.d-inline-block.swing-in-left-fwd.ml-4.ml-sm-5
                    img(src="/dist/img/icons/hit.png").brand__hit.img-fluid
            td.text-right 12800грн
        tr.border-bottom
            td.set__name Премиум
                span.icon_info(data-toggle="modal", data-target="#set_premium")
            td.text-right от 18000грн