-
    var fittingsList = [
        {
        title: "Фитинг прямой с наружной резьбой С1",
        imgName:"c1",
        price: "43грн",
        type: "C1",
        list:
            {
            diameter: ["4/2", "5/3", "6/4", "6/4", "8/6", "8/6","10/8", "10/8"],
            thread: ["1/8", "1/8", "1/8", "1/4", "1/8", "1/4", "1/8", "1/4"]
            }
        },
        {
        title: "Фитинг угловой с внутренней резьбой С5/F",
        imgName:"c5f",
        price: "48грн",
        type: "C5/F",
        list:
        {
        diameter: ["6/4", "8/6"],
        thread: ["1/8", "1/4"]
        }
        },
        {
        title: "Фитинг соеденитель переход С4",
        imgName:"c4",
        price: "67грн",
        type: "C4",
        list:
        {
        diameter: ["6/4", "8/6", "10/8", "12/10", "15/12.5"],
        thread: ["1/8", "1/4"]
        }
        }
    ];


mixin fittings-card-table(fitting)
    div.card-group.col-12.mb-1.mb-sm-4.text-center
        div.card.fitting
            div.card-header
                span.card-title.fitting__title= fitting.title
            div.card-body
                img.card-img(src="/dist/img/fittings/" + fitting.imgName + ".jpg")
            div.card-footer
                p.card-text.draw-attention= fitting.price
        div.card.fitting
            p.card-text.
                Фитинг данной серии предназначен для соединения трубок,таких как: нейлоновая, пластиковая,
                резиновая. Накидная гайка затягивается гаечным ключом. Специальная форма конуса обеспечивает качественное соединение трубки.
            div.card-body
                table.table.table-hover.table-sm
                    thead
                        tr
                            th Ref.
                            th &#8960
                            th Thread
                    tbody
                        for c, index in fitting.list.diameter
                            tr
                                td= fitting.type
                                td= fitting.list.diameter[index]
                                td= fitting.list.thread[index]

section.kit
    h2.kit__title.my-5.text-center Фитинги
    div.kit__gallery.d-flex.flex-wrap
        for fitting in fittingsList
            +fittings-card-table(fitting)

